$primary: #fc6c4c;
$small-font-size: 0.875rem;
$text-muted: #6b7280;
$headings-color: #111827;

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$custom-colors: (
  'gray': #e5e7eb,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

@each $color, $value in $theme-colors {
  .btn-outline-#{$color}:hover {
    color: #fff !important;
  }
}
