@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@400;500;600&display=swap');

:root {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: #f3f3e3;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  margin-bottom: 0.9rem;
}

p {
  color: #111827;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 2rem;
}

label {
  display: block;
  text-align: left;
}

input::placeholder {
  font-size: 0.875rem;
}

input:focus-visible {
  border-color: #fc6c4c;
  outline: 0;
}
